<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Light</title>

    <!--  Vue Development Build  -->
    <script defer src="https://cdn.jsdelivr.net/npm/vue@2.6.14/dist/vue.js"></script>
    <!--  Vue Production Build  -->
<!--    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.14"></script>-->
    <script defer src="/static/js/websocket.js"></script>
    <script defer src="/static/js/settings.js"></script>
    <script defer src="/static/js/index.js"></script>
</head>
<body>
    <div id="app"></div>
</body>
</html>
